<div class="x404-not-found">
  <div class="flex-row">
    <img class="logo" src="/assets/img/logo.svg" alt="">
    <div class="group-navbar">
      <div class="navbar">
        <nav>
          <ul>
            <li><a class="nav-home" href="/home/">Home</a></li>
            <li><a href="/">Product</a></li>
            <li><a href="/">Blog</a></li>
            <li><a href="/">Pricing</a></li>
            <li><a href="/">Contact</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a class="sign-in" href="/login">Sign In</a></li>
            <li><a href="/">
                <div class="sign-up">Sign Up</div>
              </a></li>
          </ul>
        </nav>
    </div>
  <div class="flex-row-1">
    <div class="oops frame">
            <h1>Ooops!</h1>
            <h1>Page Not Found</h1>
            <p class="oops-2">This page doesn't exist or was removed
              We suggest you back to home</p>
    </div>
    <div class="x404-image">
      <img src="/assets/img/undraw-page-not-found-re-e9o6-1.svg" alt="">
    </div>
  </div>
