<div class="rectangle-1">
  <div class="element-1">
    <img src="/assets/img/Group 1930.svg" alt="">
  </div>
  <div class="flex-row">
    <img class="logo" src="/assets/img/logo-putih.svg" alt="">
    <div class="group-navbar">
      <div class="navbar">
        <nav>
          <ul>
            <li><a class="nav-home" href="/home/">Home</a></li>
            <li><a href="/">Product</a></li>
            <li><a href="/">Blog</a></li>
            <li><a href="/">Pricing</a></li>
            <li><a href="/">Contact</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a class="sign-in" href="/login">Sign In</a></li>
            <li><a href="/">
                <div class="sign-up">Sign Up</div>
              </a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="text-1">
      <h1>About Us</h1>
      <p>A small company offering data-driven solutions for campaign effectiveness using spatial data and detailed
        analysis of target audience (voters). Use technology that unites spatial data science and political science.</p>
      <div class="contact-us">
        <a style="color: #2161D5;" href="/">contact us</a>
      </div>
    </div>
    <div class="rectangle-2">
      <div class="element-2">
        <img src="/assets/img/fa-solid_quote-left.svg" alt="">
      </div>
      <p>In just small steps you’ll connected directly to our technology.
        Knowledge about your own-power, your rivals,
        your voters, and your region in Election.</p>
    </div>
    <div class="element-3">
      <img src="/assets/img/Group 88.svg" alt="">
    </div>
    <div class="rectangle-3">
      <h1>Our Advisor</h1>
      <img src="/assets/img/Frame 64.svg" alt="">
    </div>
    <div class="rectangle-4">
      <h1>What Political Figure Say</h1>
      <p>These are the stories of political figure who have joined us with great pleasure when using this crazy feature.
      </p>
    </div>
    <div class="frame-1">
      <div class="rectangle-5">
        <img src="/assets/img/Group 1152.svg" alt="">
        <p>Saya minta kepada segenap pengurus DPD, provinsi, kabupten dan kota, untuk kita harus memiliki roadmap 2024.
          Di tahun melakukan penggalangan opini masyarakat</p>
      </div>
      <div class="rectangle-6">
        <img src="/assets/img/Group 1152 (1).svg" alt="">
        <p>Daerah merupakan bagian dari pemerintah yang langsung berinteraksi dengan</p>
      </div>
      <div class="rectangle-7">
        <img src="/assets/img/Group 1152 (2).svg" alt="">
        <p>Daerah merupakan bagian dari pemerintah yang langsung berinteraksi dengan masyarakat ketikaproses
          demokratisasi berlangsung.</p>
      </div>
      <div class="rectangle-8">
        <img src="/assets/img/Group 1922.svg" alt="">
      </div>
    </div>
  </div>
</div>
