<div class="home-screen">
  <div class="flex-row">
    <img class="logo" src="/assets/img/logo.svg" alt="">
    <div class="group-navbar">
      <div class="navbar">
        <nav>
          <ul>
            <li><a class="nav-home" href="/home/">Home</a></li>
            <li><a href="/">Product</a></li>
            <li><a href="/">Blog</a></li>
            <li><a href="/">Pricing</a></li>
            <li><a href="/">Contact</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a class="sign-in" href="/login">Sign In</a></li>
            <li><a href="/">
                <div class="sign-up">Sign Up</div>
              </a></li>
          </ul>
        </nav>
        <div class="content-left">
          <h1 class="title">
            <span class="title-1">Observe Your </span><span class="title-2">Power</span>
            <div class="p-title">
              <p class="p-title-1">Trafalgar provides progressive, and affordable healthcare, accessible on
                mobile and online for everyone</p>
            </div>
          </h1>
          <div class="see-a-demo">
            <a style="color: white;" href="/">See a demo</a>
          </div>
        </div>
        <div class="content-right">
          <div class="img-wrapper">
            <img src="/assets/img/undraw-voting-nvu7-1.svg" class="undraw-voting-nvu7-1">
          </div>
        </div>
      </div>
      <div class="text-2">
        <h1 class="why-choose-us">Why choose us?</h1>
        <p class="we-provide-to-you">We provide to you the best choiches for you. The leading
          political campaign intelligence platform</p>
      </div>
      <div class="rectangle-1">
        <div class="frame-1 img-frame-1">
          <img src="/assets/img/fluent_layer-24-filled.svg" alt="">
        </div>
        <h1 class="h1-frame-1">Data</h1>
        <p class="p-frame-1">The biggest regional data, development, and POI data.</p>
      </div>
      <div class="rectangle-2">
        <div class="frame-1 img-frame-1">
          <img src="/assets/img/ion-hardware-chip.svg" alt="">
        </div>
        <h1 class="h1-frame-2">Technology</h1>
        <p class="p-frame-2">Geospatial platform with advanced analysis that suit your neetds.</p>
      </div>
      <div class="rectangle-3">
        <div class="frame-1 img-frame-1">
          <img src="/assets/img/ic_outline-miscellaneous-services.svg" alt="">
        </div>
        <h1 class="h1-frame-3">Services</h1>
        <p class="p-frame-3">An expert team help you to analyze your poltical power.</p>
      </div>
      <a href="/">
        <div class="learn-more">Learn more</div>
      </a>

      <div class="rectangle-4">
        <div class="rectangle-6">
          <img src="/assets/img/rectangle-6.svg" alt="">
        </div>
        <div class="rectangle-5">
          <img src="/assets/img/rectangle-5.svg" alt="">
        </div>
      </div>
      <div class="text-3">
        <h1>App Overview 1</h1>
        <p>Advanced spatial analysis to understand where and why things happen, identify the target constituency, and
          optimize the campaign.</p>
        <a href="/">
          <div class="learn-more-white">Learn more</div>
        </a>
      </div>
      <div class="rectangle-7">
        <img src="/assets/img/rectangle-7.svg" alt="">
      </div>
      <div class="rectangle-7-1">
        <img src="/assets/img/rectangle-7-1.svg" alt="">
      </div>
      <div class="text-4">
        <h1>App Overview 2</h1>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
          velit mollit. Exercitation veniam consequat sunt nostrud amet..</p>
        <a href="/">
          <div class="learn-more-white">Learn more</div>
        </a>
      </div>
      <div class="rectangle-8">
        <img src="/assets/img/rectangle-8.svg" alt="">
      </div>
      <div class="rectangle-9">
        <img src="/assets/img/undraw_online_ad_re_ol62 1.svg" alt="">
      </div>
      <div class="text-5">
        <h1>App Overview 3</h1>
        <p>Advanced spatial analysis to understand where and why things happen, identify the target constituency, and
          optimize the campaign.</p>
        <a href="/">
          <div class="learn-more-white">Learn more</div>
        </a>
      </div>
      <div class="frame-4">
        <h1>How it works for you?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam.</p>
        <div class="see-a-demo-1">
          <a style="color: white;" href="/">See a demo</a>
        </div>
      </div>
      <div class="frame-5">
        <img src="/assets/img/frame-23.svg" alt="">
      </div>
      <div class="frame-6">
        <img src="/assets/img/frame-24.svg" alt="">
      </div>
      <div class="frame-7">
        <img src="/assets/img/Group 1307.svg" alt="">
      </div>
      <div class="frame-8">
        <img src="/assets/img/Group 1921.svg" alt="">
      </div>
      <div class="frame-9">
        <img src="/assets/img/Group 1922.svg" alt="">
      </div>
    </div>

    <!-- <div class="overlap-group10">
        <div class="overlap-group7">
          <div class="rectangle-270">
            <div class="frame-6043">
              <div class="see-a-demo rubik-bold-white-16px">See a Demo</div>
            </div>
          </div>
          <div class="overlap-group9">
            <img class="/assets/img/undraw-voting-nvu7-1" />
            <h1 class="title rubik-medium-black-pearl-60px">
              <span class="rubik-medium-black-pearl-60px">Observe Your</span><span class="span1">Power</span>
            </h1>
          </div>
          <p class="trafalgar-provides-p rubik-normal-scarpa-flow-16px">Trafalgar provides progressive, and affordable
            healthcare, accessible on <br />mobile and online for everyone
          </p>
        </div>
        <div class="frame-25">
          <div class="why-choose-us rubik-bold-black-pearl-35px">Why choose us?</div>
          <p class="we-provide-to-you-th rubik-normal-scarpa-flow-16px">We provide to you the best choices for you. The
            leading <br />political campaign intelligence platform
          </p>
        </div>
        <div class="group-container">
          <div class="overlap-group5">
            <div class="frame-1">
              <img class="fluentlayer-24-filled" src="/assets/img/fluent-layer-24-filled.svg"
                alt="fluent:layer-24-filled" />
              <div class="frame-1-1">
                <div class="data rubik-medium-black-pearl-24px">
                  Data</div>
                <p class="the-biggest-regional rubik-normal-scarpa-flow-16px">The biggest regional data, development,
                  and POI data.
                </p>
              </div>
            </div>
          </div>
          <div class="group-14">
            <div class="frame-1">
              <img src="/assets/img/ion-hardware-chip.svg" alt="ion:hardware-chip" class="ionhardware-chip" />
              <div class="frame-1-1">
                <div class="technology rubik-medium-black-pearl-24px">Technology</div>
                <p class="geospatial-platform rubik-normal-scarpa-flow-16px">
                  Geospatial platform with advanced analysis that suit your neetds.
                </p>
              </div>
            </div>
          </div>
          <div class="overlap-group6">
            <img class="icoutline-miscellaneous-services" src="/assets/img/ic-outline-miscellaneous-services.svg"
              alt="ic:outline-miscellaneous-services" />
            <div class="frame-16">
              <div class="services rubik-medium-black-pearl-24px">Services</div>
              <p class="an-expert-team-help rubik-normal-scarpa-flow-16px">An expert team help you to analyze your
                poltical power.
              </p>
            </div>
          </div>
        </div>
        <div class="consult-btn">
          <div class="overlap-group-1">
            <div class="learn-more rubik-bold-mariner-16px">Learn more</div>
          </div>
        </div>
        <div class="overlap-group4">
          <div class="rectangle-328"></div>
          <div class="overlap-group1">
            <div class="learn-more-4 rubik-medium-white-16px">Learn more</div>
          </div>
          <div class="overlap-group2">
            <div class="learn-more-4 rubik-medium-white-16px">Learn more</div>
          </div>
          <div class="frame-8">
            <div class="subscription-index rubik-medium-white-35px">App Overview 1</div>
            <p class="a-daily-dataset-to-k mulish-normal-white-16px">
              Advanced spatial analysis to understand where and why things happen, identify the target constituency, and
              optimize the campaign.
            </p>
          </div>
          <div class="frame-9">
            <div class="subscription-index-1 rubik-medium-white-35px">App Overview 2</div>
            <p class="a-daily-dataset-to-k mulish-normal-white-16px">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit pfficia consequat duis
              enim velit mollit. Exercitaion veniam consequat sunt nostrud amet.
            </p>
          </div>
          <img src="/assets/img/group-1933.svg" alt="Group 1933" class="group-1933" />
          <div class="group-1309">
            <img src="/assets/img/group-1928.svg" alt="Group 1928" class="group-1928" />
            <div class="flex-col-4 flex-col-5">
              <div class="frame-14">
                <div class="subscription-index rubik-medium-white-35px">App Overview 3</div>
                <p class="a-daily-dataset-to-k mulish-normal-white-16px">
                  Advanced spatial analysis to understand where and why things happens, identify the target
                  constituency, and optimize the campaign.
                </p>
              </div>
              <div class="overlap-group-2">
                <div class="learn-more-4 rubik-medium-white-16px">Learn more</div>
              </div>
            </div>
          </div>
          <img src="/assets/img/group-1927.svg" alt="Group 1927" class="group-1927" />
          <img src="/assets/img/undraw-analystics-re-dkf8-1.png" alt="undraw-analystics-re-dkf8-1"
            class="undraw-analytics-re-dkf8-1" />
          <img src="/assets/img/element.png" alt="element" class="element" />
          <img src="/assets/img/undraw-online-ad-re-ol62-1.png" alt="undraw-online-ad-re-ol62-1.png"
            class="undraw-online-ad-re-ol62-1.png" />
          <img src="/assets/img/rectangle-236.png" alt="Rectangle 236" class="rectangle-236" />
        </div>
        <div class="frame-18">
          <p class="how-it-works-for-you rubik-bold-black-pearl-35px">How it works for you?</p>
          <p class="lorem-ipsum-dolor-si rubik-normal-scarpa-flow-16px">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam.
          </p>
        </div>
        <div class="overlap-group8">
          <div class="rectangle-329"></div>
          <div class="overlap-group3">
            <div class="see-a-demo-1">See a demo</div>
          </div>
        </div>
        <div class="frame-23">
          <div class="group-131">
            <div class="frame-22">
              <img src="/assets/img/location-search-rafiki.svg" alt="location-search/rafiki"
                class="location-searchrafiki" />
              <div class="frame-21">
                <div class="geographic-segmentation rubik-medium-black-pearl-24px">Geographic Segmentation</div>
                <p class="consist-of rubik-normal-scarpa-flow-16px">
                  Consist of creating different groups of <br /> customers based on geographic <br />
                  boundaries
                </p>
              </div>
            </div>
          </div>
          <div class="group-131">
            <div class="frame-22">
              <img src="/assets/img/designer-life-rafiki.svg" alt="designer-life/rafiki" class="designer-liferafiki">
              <div class="frame-21">
                <div class="demographic-segmentation rubik-medium-black-pearl-24px">Demographic Segmentation</div>
                <p class="consist-of rubik-normal-scarpa-fow-16px">
                  Consist of dividing the market through different variables such as age, gender, income, etc
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-24">
          <div class="group-131">
            <div class="frame-22">
              <img src="/assets/img/healthy-lifestyle-rafiki.svg" alt="healthy-lifestyle/rafiki"
                class="healthy-lifestylerafiki" />
              <div class="frame-21">
                <div class="pyschograpich-segmentation rubik-medium--black-pearl-24px">Psychographic Segmentation</div>
                <p class="consist-of rubik-normal-scarpa-flow-16px">
                  Consist of creating differend groups of <br />customers based on geographic <br />
                  boundaries
                </p>
              </div>
            </div>
          </div>
          <div class="group-131">
            <div class="frame-22">
              <img src="/assets/img/thrift-shop-rafiki.svg" alt="thrift-shop/rafiki" class="thrift-shoprafiki">
              <div class="frame-21">
                <div class="behavorial-segmentation rubik-medium-black-pearl-24px">Behavorial Segmentation</div>
                <p class="consist-of rubik-normal-scarpa-flow-16px">
                  Consist of creating differend groups of <br />customers based on geographic <br />
                  boundaries
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="group-1307">
          <div class="frame-14-1">
            <div class="plans-and-pricing rubik-bold-black-pearl-35px">Plans and Pricing</div>
            <p class="we-provide-to-you-th rubik-normal-scarpa-flow-16px">We provide to you the best choices for you.
              The leading <br /> political campaign intelligence platform
            </p>
          </div>
          <div class="group-1305">
            <div class="overlap-group2-1">
              <div class="overlap-group1-1 overlap-group1-3">
                <div class="group-1289">
                  <img src="/assets/img/vector-96.svg" alt="Vector 96" class="vector-96">
                  <div class="ellipse-201"></div>
                  <div class="flex-col">
                    <img src="/assets/img/union-2.svg" alt="Union" class="union">
                    <div class="ellipse-199"></div>
                    <img src="/assets/img/union-3.svg" alt="Union" class="union-1">
                    <div class="ellipse-202"></div>
                    <img src="/assets/img/vector-97.svg" alt="Vector 97" class="vector-97">
                  </div>
                  <div class="flex-col-1 flex-col-5">
                    <img src="/assets/img/vector-95" alt="Vector 95" class="vector-95">
                    <div class="ellipse-200"></div>
                    <img src="/assets/img/union-1.svg" alt="Union" class="union-2"><img class="union-3"
                      src="/assets/img/union.svg" alt="Union" />
                  </div>
                </div>
                <div class="group-1290">
                  <img src="/assets/img/vector-96-1.svg" alt="Vector 96" class="vector-96-1">
                  <div class="ellipse-201-1"></div>
                  <div class="flex-col-2 flex-col-5">
                    <img src="/assets/img/vector-97-1.svg" alt="Vector 97" class="vector-97-1">
                    <div class="ellipse-202-1"></div>
                    <img src="/assets/img/union-7.svg" alt="Union" class="union-4">
                    <div class="ellipse-199-1"></div>
                    <img src="/assets/img/union-6.svg" alt="Union" class="union-5">
                  </div>
                  <div class="flex-col-3 flex-col-5">
                    <img src="/assets/img/union-4.svg" alt="Union" class="union-6">
                    <img src="/assets/img/union-5.svg" alt="Union" class="union-7">
                    <div class="ellipse-200-1"></div>
                    <img src="/assets/img/vector-95-1.svg" alt="Vector 95" class="vector-95-1">
                  </div>
                </div>
                <div class="ovelap-group">
                  <div class="rectangle-328"></div>
                  <img src="/assets/img/mask-group-2.png" alt="Mask Group" class="mask-group"><img class="rectangle-324"
                    src="/assets/img/rectangle-324.svg" alt="Rectangle 324" />
                </div>
                <div class="ellipse-206"></div>
                <div class="ellipse-207"></div>
                <div class="ellipse-208"></div>
                <div class="ellipse-212"></div>
                <div class="ellipse-221"></div>
                <div class="ellipse-224"></div>
                <div class="ellipse-225"></div>
                <div class="ellipse-222"></div>
                <div class="ellipse-223"></div>
                <img src="/assets/img/vector-99.svg" alt="Vector 99" class="vector-99" />
              </div>
              <div class="individual-plan rubik-medium-black-pearl-18px">Individual Plan</div>
              <div class="group-1253">
                <div class="group-1241">
                  <img class="group-1226" src="/assets/img/group-1226.png" alt="Group 1226" />
                  <div class="address adress-2 rubik-normal-scarpa-flow-14px">1 User</div>
                </div>
                <div class="group-1242">
                  <img src="/assets/img/group-1227.png" alt="Group 1227" class="group-1227" />
                  <div class="address-1 address-2 rubik-normal-scarpa-flow-14px">1 Basic Analysis</div>
                </div>
                <div class="group-1243">
                  <img src="/assets/img/group-1228.png" alt="Group 1228" class="group-1228" />
                  <div class="unlimited-select-services rubik-normal-scarpa-flow-14px">Unlimited Select Services</div>
                </div>
              </div>
              <div class="x99-mo rubik-medium-white-25px">
                <span class="rubik-medium-black-pearl-25px">$99</span><span class="rubik-normal-scarpa-flow-25px">/
                  mo</span>
              </div>
              <div class="overlap-group-3">
                <div class="select-2 rubik-bold-mariner-16px">Select</div>
              </div>
            </div>
            <div class="overlap-group3-1">
              <div class="overlap-group3-1">
                <div class="overlap-group1-2 overlap-group1-3">
                  <div class="group-1289">
                    <img src="/assets/img/vector-96.svg" alt="Vector 96" class="vector-96">
                    <div class="ellipse-201"></div>
                    <div class="flex-col">
                      <img src="/assets/img/union-10.svg" alt="Union" class="union">
                    </div>
                    <div class="ellipse-199"></div>
                    <img src="/assets/img/union-11.svg" alt="Union" class="union-1">
                    <div class="ellipse-202"></div>
                    <img src="/assets/img/vector-97.svg" alt="Vector 97" class="ellipse-202">
                  </div>
                  <div class="flex-col-1 flex-col-5"><img src="/assets/img/vector-95.svg" alt="Vector 97"
                      class="vector-97">
                  </div>
                  <div class="flex-col-1 flex-col-5"><img src="/assets/img/vector-95.svg" alt="Vector 95"
                      class="vector-95" />
                    <div class="ellipse-200"></div>
                    <img src="/assets/img/union-9.svg" alt="Union" class="union-2"><img class="union-3"
                      src="/assets/img/union-8.svg" alt="Union" />
                  </div>
                </div>
                <div class="group-1290">
                  <img src="/assets/img/vector-96-1.svg" alt="Vector 96" class="vector-96-1">
                  <div class="ellipse-201-1"></div>
                  <div class="flex-col-2 flex-col-5">
                    <img src="/assets/img/vector-97-1.svg" alt="Vector 97" class="classvector-97-1">
                    <div class="ellipse-202-1"></div>
                    <img src="/assets/img/union-15.svg" alt="Union" class="union-4">
                    <div class="ellipse-199-1"></div>
                    <img src="/assets/img/union-14.svg" alt="Union" class="union-5">
                  </div>
                  <div class="flex-col-3 flex-col-5">
                    <img src="/assets/img/union-12.svg" alt="Union" class="union-6">
                  </div><img class="union-7" src="/assets/img/union-13.svg" alt="Union" />
                  <div class="ellipse-200-1"></div>
                  <img src="/assets/img/vector-95-1.svg" alt="Vector 95" class="vector-95-1" />
                </div>
              </div>
              <div class="overlap-group">
                <div class="rectangle-320"></div>
                <img class="mask-group" src="/assets/img/mask-group-2.png" alt="Mask Group"><img class="rectangle-323"
                  src="/assets/img/rectangle-323-1.svg" alt="Rectangle 323" /><img src="/assets/img/mask-group.png"
                  alt="Mask Group" class="mask-group-1" /> <img class="rectangle-324"
                  src="/assets/img/rectangle-324-1.svg" alt="Rectangle 324" />
              </div>
              <div class="ellipse-206"></div>
              <div class="ellipse-207"></div>
              <div class="ellipse-208"></div>
              <div class="ellipse-212"></div>
              <div class="ellipse-221"></div>
              <div class="ellipse-224"></div>
              <div class="ellipse-225"></div>
              <div class="ellipse-222"></div>
              <div class="ellipse-223"></div>
              <img src="/assets/img/vector-99-1.svg" alt="Vector 99" class="vector-99" />
            </div>
            <div class="parties-plan rubik-medium-black-pearl-18px">Parties Plan</div>
            <div class="group-1253-1">
              <div class="group-1241-1">
                <img src="/assets/img/group-1226.png" alt="Group 1226" class="group-1226-1" />
                <div class="unlimited-user rubik-normal-scarpa-flow-14px">Unlimited User</div>
              </div>
              <div class="group-1242-1">
                <img src="/assets/img/group-1227.png" alt="Group 1227" class="group-1227-1" />
                <div class="basic-analysis rubik-normal-scarpa-flow-14px">Basic Analysis</div>
              </div>
              <div class="group-1243">
                <img src="/assets/img/group-1228.png" alt="Group 1228" class="group-1228-1">
                <div class="unlimited-select-services rubik-normal-scarpa-flow-14px">Unlimited Select Services</div>
              </div>
              <div class="group-1244">
                <img src="/assets/img/group-1228.png" alt="Group 1229" class="group-1229">
                <div class="free-extend-1-month rubik-normal-scarpa-flow-14px">Free extend 1 month</div>
              </div>
            </div>
            <div class="x500-mo rubik-medium-white-25px"><span class="rubik-medium-black-pearl-25px">$500</span><span
                class="rubik-normal-scarpa-flow-25px">/ mo</span>
            </div>
            <div class="overlap-group2-2">
              <div class="rectangle-329-1"></div>
              <div class="overlap-group-4">
                <div class="select-1 select-2 rubik-bold-white-16px">Select</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="group-1921">
        <div class="frame-34">
          <div class="frequenly-asked-questions rubik-bold-black-pearl-35px">Frequenly Asked Questions</div>
          <div class="frame-3">
            <div class="group-1919">
              <div class="frame-32">
                <div class="group-1918">
                  <p class="what-do-you-mean-by">What do you mean by public-facing usage?</p>
                  <img src="/assets/img/akar-icons-minus.svg" alt="akar-icons:minus" class="akar-iconsminus akar" />
                </div>
                <p class="we-define-public-fac rubik-normal-scarpa-flow-16px">We define public-facing usage as
                  leveraging CARTO to power enterprise-scale applications that are made available to external parties
                  such as clients or the public, as opposed to internal demonstration-only applications.
                </p>
              </div>
            </div>
            <div class="frame-3">
              <div class="group-191">
                <div class="group-1913">
                  <p class="can-i-buy-more-stora rubik-medium-balck-pearl-16px">Can i buy more storage for my individual
                    plan?
                  </p>
                  <img src="/assets/img/akar-icons-plus.svg" alt="akar-icons:plus" class="akar" />
                </div>
              </div>
              <div class="group-191">
                <div class="grooup-1913-1">
                  <p class="what-happens-to-my-d rubik-medium-black-pearl-16px">What happens to my data after the trial
                    pr if i cancel my subscription?
                  </p>
                  <img src="/assets/img/akar-icons-plus.svg" alt="akar-icons:plus" class="akar-iconsplus-3" />
                </div>
              </div>
              <div class="group-191">
                <div class="group-1913-2">
                  <p class="can-i-cancel-my-mont rubik-medium-black-pearl-16px">Can i cancel my monthly or annual
                    subscription</p>
                  <img src="/assets/img/akar-icons-plus.svg" alt="akar-icons:plus" class="akar-iconsplus-3" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-group-5">
          <div class="add-question rubik-bold-mariner-16px">Add Question</div>
        </div>
      </div>
      <div class="group-1922">
        <div class="group-1210">
          <div class="group-1206">
            <p class="subscribe-now-for-get-special-features valign-text-middle rubik-medium-white-35px">Subscribe Now
              for Get Special Features!</p>
            <p class="lets-subscribe-with valign-text-middle">Let's subscribe with us and find the fun.</p>
          </div>
          <div class="overlap-group-6">
            <div class="rectangle-270-1"></div>
            <div class="rectangle-250"></div>
            <div class="subscribe-now rubik-bold-mariner-16px">Subscirbe Now</div>
          </div>
        </div>
        <div class="group-1913-3">
          <div class="group-1907">
            <div class="frame-26">
              <div class="group-1844">
                <div class="group-1835-4">
                  <div class="overlap-group-7">
                    <img src="/assets/img/vector-4.svg" alt="Vector" class="vector" />
                  </div>
                </div>
              </div>
              <div class="logo-1">
                <div class="geolabs geolabs-2">GEOLABS</div>
              </div>
            </div>
            <p class="geolabs-is-a-private rubik-medium-scarpa-flow-16px">
              <span class="rubik-medium-scarpa-flow-16px">Geolabs</span><span class="rubik-normal-scarpa-flow-16px">is a
                private virtual network that has unique features and high security.</span>
            </p>
            <div class="socmed-container">
              <div class="socmed-facebook"></div>
              <div class="socmed-twitter"></div>
              <div class="socmed-instagram"></div>
            </div>
            <div class="copyright rubik-normal-cadet-blue-16px">
              <span class="rubik-normal-cadet-blue-16px">©2020</span><span class="span1-1">EBDESK</span>
            </div>
          </div>
          <div class="group-1169">
            <div class="product rubik-medium-black-pearl-18px">Product</div>
            <div class="donwload rubik-normal-scarpa-flow-16px">Donwload</div>
            <div class="pricing rubik-normal-scarpa-flow-16px">Pricing</div>
            <div class="locations rubik-normal-scarpa-flow-16px">Locations</div>
            <div class="server rubik-normal-scarpa-flow-16px">Server</div>
            <div class="countries rubik-normal-scarpa-flow-16px">Blog</div>
          </div>
          <div class="group-1170">
            <div class="engage rubik-medium-black-pearl-18px">Engage</div>
            <div class="geolabs-1 geolabs-2 rubik-normal-scarpa-flow-16px">Geolabs ?</div>
            <div class="faq rubik-normal-scarpa-flow-16px">FAQ</div>
            <div class="tutorials rubik-normal-scarpa-flow-16px">Tutorials</div>
            <div class="abous-us rubik-normal-scarpa-flow-16px">About Us</div>
            <div class="privacy-policy rubik-normal-scarpa-flow-16px">Terms of Service</div>
          </div>
          <div class="group-1171">
            <div class="earn-money rubik-medium-black-pearl-18px">Earn Money</div>
            <div class="affiliate rubik-normal-scarpa-flow-16px">Affiliate</div>
            <div class="become-partner rubik-normal-scarpa-flow-16px">Become Partner</div>
          </div>
        </div>
      </div> -->
